body{
  font-family: 'Poppins', sans-serif;
  background-color: #050505;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.brand-name{
  font-size: 1.5rem;
}

nav{
  background-color: black;
}

.add-secret{
  border-color: black;
}

.add-secret:hover{
  border-color: #ffc107;
  color:#ffc107;
  background-color: #191919;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.index-page{
  padding:12.5rem 2rem;
}

.main-title{
  font-size: 7.5rem;
  color:#ffc107;
  text-shadow: 0px 0px 1px #ffc107;
  margin-left: 1px;
}

.caption{
  font-size: 1.1rem;
  color:#ffc107;
}

.signup-field{
  height:100vh;
}

.card{
  box-shadow:0px 0px 3px 1px;
  background-color: black;
  color:#ffc107;
  border:1px solid #ffc107
}

.card-header{
  margin-top:2px;
  padding-bottom:1px;
  background-color:#1a1a1a;
}

.card-body input{
  margin:2% 0 3% 0;
  border:1pt solid #1a1a1a;
  background-color: transparent;
  color:white;
}

.card-body input:focus, .card-body input:active{
  background-color: transparent;
  color:white;
}

label{
  font-size: 1.1rem;
}

input[type="checkbox"] {
  accent-color: #0275d8;
}

.signup-alert, .signin-alert{
  color: #0275d8;
}

.or-class{
  width:45%;
  position: relative;
}

.or-class hr{
  color:white;
  height:20px;
}

.or-element{
  position: absolute;
  left:47.5%;
  bottom:35%;
  background-color: black;
  color:lightgray;
}

.form-control:active,
.form-control:focus{
  border-color: #ffc107;
  box-shadow: 0 0 3px 1px #ffc107;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.signup-field div{
  margin-bottom:20px;
}

.password-field{
  position: relative;
}

.show-pass{
  postion:absolute;
}

.submit-secret{
  text-decoration: none;
  color:black;
}

.submit-container{
  padding: 5% 2%;
}

.submit-header{
  margin:2% 0;
  font-size:7rem;
  padding-right: 20%;
  color:#ffc107;
  text-shadow: -1px 1px 2px black
}

.start-header{
  font-size:4.5rem;
  color:#ffc107;
  text-shadow: 1px 1px 1px #ffc107;
  margin-left:13px;
  line-height: 1.1;
}

.submit-area{
  margin:5% 0;
}

textarea{
  width:100%;
  height:100%;
  background-color: transparent;
  color:white;
  font-size: 1.1rem;
}

textarea:focus,
textarea:active{
  box-shadow:0 0 5px 1px #ffc107;
  color:white;
  background-color: black;
}

textarea::placeholder{
  font-style: italic;
  letter-spacing: 0.01rem;
}

.submit-header-container, .submit-area{
  padding-left:0;
}

.submit-form{
  position: relative;
}

.submit-btn{
  position: absolute;
  right:10px;
  bottom:10px;
}

.submit-area {
  position: relative;
}

#character-num{
  position: absolute;
  left:5px;
  bottom:7px;
  color:#ffc107;
}

.wrapper{
  display:flex;
  flex-wrap:wrap;
  width: 100%;
}

.box{
  margin:2% 2%;
  width:35%;
  padding:10px 2% 1% 10px;
  font-size: 1.5rem;
  flex-grow: 1;
  min-height:180px;
  background-color: transparent;
  border:1px solid #ffc107;
  word-break: break-all;
  background-color: black;
  box-shadow:1px 1px 2px 0.5px #ffc107;
  color:#ffc107;
  position:relative;
}

.empty-class{
  color:black;
  font-size: 1.7rem;
  font-weight: lighter;
}

.empty-class span{
  color:gray;
  opacity: 0.6;
}

.password-field{
  margin-bottom: 10px;
}

.isvalid{
  color:red;
  font-size: 0.8rem;
  width:100%;
  word-wrap:break-word;
}

.disappear{
  display:none;
}

.brand-top{
  font-size:1.2rem;
  text-decoration: none;
}

#xmark{
  border: 1px solid red;
  border-radius: 50%;
  padding:0.9% 1.5%;
}

.react-btn{
  position:absolute;
  right:1px;
  bottom:0;
  color:gray;
  border:none;
}

.liked-btn{
  color:red;
}

.like-count{
  color:#ffc107;
}

@media only screen and (min-width:768px){
  .main-title{
    font-size: 10rem;
  }
  .card{
    width: 350px;
  }
  .start-header{
    padding-left: 1%;
    font-size: 8rem;
  }
}

@media only screen and (max-width:500px){
  .box{
    width:100%;
  }
  .start-header{
    font-size: 4rem;
  }
  .submit-header{
    font-size: 4rem;
  }
}

/*---------------------------*/
@media only screen and (min-width:500px) and (max-width:767px){
  .isvalid{
    max-width:350px;
  }
}
/*---------------------------*/

@media only screen and (max-width:360px){
  .start-header{
    font-size: 3.35rem;
  }
  .main-title{
    font-size: 5.3rem;
  }
  .empty-class{
    font-size: 1rem;
  }
  .signup-field{
    height:70%;
  }
  .brand-top{
    display:flex;
    justify-content:end;
    margin-right:5px;
  }
}
