body{
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

.navbar-brand{
  font-size: 1.5rem;
  transition: transform 0.3s ease-in;
}

.navbar-brand:hover{
  transform: rotate(-5deg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.index-page{
  padding:13rem 2rem;
}

.main-title{
  font-size: 7rem;
}

.signup-field{
  height:100vh;
}

.card{
  box-shadow:2px 2px 10px 2px;
}

.card-header{
  margin-top:2px;
  padding-bottom:1px;
}

.card-body input{
  margin:2% 0 10% 0;
}

label{
  font-size: 1.1rem;
}

.form-control:active,
.form-control:focus{
  border-color: #ffc107;
  box-shadow: 0 0 3px 1px #ffc107;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.signup-field div{
  margin-bottom:20px;
}

@media only screen and (min-width:768px){
  .main-title{
    font-size: 10rem;
  }
  .card{
    width: 400px;
  }
}
